# Проект "LinkedIn рестарт" (предобработка данных)

Проект: Анализ вакансии для аналитиков данных.

Цель: Визуализировать информацию о рынке вакансий для аналитиков в Европе.

Датасет ДА + ДС (джун) https://disk.yandex.ru/d/CZ3Idtn61a1JGg.


Данные:
- title - название вакансии.
- location - город, в котором размещена вакансия.
- country - страна, для которой размещена вакансия.
- employment_type - вид трудоустройства (online, hybride, on-site).
- company_name - название компании.
- employee_qty - размер компании (количество сотрудников).
- company_field - Сфера деятельности компании.
- skills - требуемые хард скиллы.
- job_description - описание вакансии.
- applicants - количество соискателей.

In [1]:
#импортируем библиотеки
import pandas as pd

In [2]:
#подгружаем файл
df = pd.read_csv('linkedin.csv')

In [3]:
#смотрим файл
df.head(20)

,title,location,country,employment_type,company_name,employee_qty,company_field,skills,job_description,applicants
0,Data Analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50 employees,Staffing and Recruiting,None,What You Will Achi...,47.0
1,Data Analyst - Logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,not specified,not specified,None,,NaN
2,Data Analyst - Logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,not specified,not specified,None,Data Analyst - Lo...,NaN
3,Data Analyst (Space & Planning),South Molton,United Kingdom,On-site,Mole Valley Farmers,not specified,not specified,None,Salary: To b...,NaN
4,Data Analyst,Lugano,Switzerland,On-site,FORFIRM,not specified,not specified,None,FORFIRM is p...,NaN
5,Data Analyst - Logistics,Southampton,United Kingdom,On-site,"Butler, Bridge & May",not specified,not specified,None,Location: Southam...,NaN
6,Data Analyst,Leeds,United Kingdom,On-site,Maria Mallaband Care Group Ltd,not specified,not specified,None,We’re Maria Malla...,NaN
7,Data Analyst,Nuneaton,United Kingdom,Hybrid,Kelly Group,not specified,not specified,None,Kelly Group are s...,NaN
8,Data Analyst,Paris,France,On-site,eXalt,"501-1,000 employees",IT Services and IT Consulting,"<span class=""visually-hidden""><!-- -->Skills: ...",Qui sont-ils ? ...,140.0
9,Data Analyst - Hybrid Working,Cambridge,United Kingdom,On-site,Blue Arrow,not specified,not specified,None,Data Analyst ...,NaN
10,Data Analyst,West Midlands,United Kingdom,On-site,Mexa Solutions,not specified,not specified,None,Hybrid - West Mi...,NaN
11,Commercial Data Analyst,Schiphol,Netherlands,On-site,Royal Schiphol Group,"1,001-5,000 employees",Airlines and Aviation,"<span class=""visually-hidden""><!-- -->Skills: ...",De functie Welk...,13.0
12,Asset Data Analyst,Chester,United Kingdom,On-site,networx | Recruitment Software & Services by IRIS,not specified,not specified,None,Do you have the d...,NaN
13,Data Analyst - Hybrid,Cambridge,United Kingdom,On-site,Blue Arrow,not specified,not specified,None,Data Analyst ...,NaN
14,Data Analyst,Craven Arms,United Kingdom,not specified,networx | Recruitment Software & Services by IRIS,not specified,not specified,None,Are you passionat...,NaN
15,Data Analyst,Dublin,Ireland,Hybrid,PharmiWeb.Jobs: Global Life Science Jobs,not specified,not specified,None,Data Analyst ...,NaN
16,Data Analyst (FT),Belfast,United Kingdom,On-site,Black Fox Solutions,11-50 employees,Staffing and Recruiting,None,Data Analyst - Gr...,7.0
17,Data Analyst,Sunderland,United Kingdom,Hybrid,tombola,"501-1,000 employees",IT Services and IT Consulting,None,Are you a data wi...,NaN
18,Data Analyst H/F,Montévrain,France,On-site,Fives,not specified,not specified,None,Soyez acteurs d'u...,NaN
19,Data Analyst,Bristol,United Kingdom,On-site,Babcock,"501-1,000 employees",Airlines and Aviation,None,This job is...,53.0

In [4]:
#смотрим данные
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            998 non-null    object
 1   location         998 non-null    object
 2   country          998 non-null    object
 3   employment_type  998 non-null    object
 4   company_name     996 non-null    object
 5   employee_qty     998 non-null    object
 6   company_field    998 non-null    object
 7   skills           998 non-null    object
 8   job_description  998 non-null    object
 9   applicants       838 non-null    float64
dtypes: float64(1), object(9)
memory usage: 78.1+ KB

Мы не сможем восстановить названия компаний и данные по количеству соискателей, которые подали заявки, поэтому заменим пропуски на значение-заглушку "not specified".

In [5]:
df['company_name'] = df['company_name'].fillna('not specified')
df['applicants'] = df['applicants'].fillna('not specified')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            998 non-null    object
 1   location         998 non-null    object
 2   country          998 non-null    object
 3   employment_type  998 non-null    object
 4   company_name     998 non-null    object
 5   employee_qty     998 non-null    object
 6   company_field    998 non-null    object
 7   skills           998 non-null    object
 8   job_description  998 non-null    object
 9   applicants       998 non-null    object
dtypes: object(10)
memory usage: 78.1+ KB

In [7]:
#смотрим названия вакансий
df['title'].unique()

array(['Data Analyst', 'Data Analyst - Logistics',
       'Data Analyst (Space & Planning)', 'Data Analyst - Hybrid Working',
       'Commercial Data Analyst', 'Asset Data Analyst',
       'Data Analyst - Hybrid', 'Data Analyst (FT)', 'Data Analyst H/F',
       'Data Analyst II', 'Data Analyst (9 Months FTC)',
       'Business Intelligence Analyst', 'Data Analyst (F/H)',
       'BI Analyst', 'Data Analyst Associate', 'Product Data Analyst',
       'Graduate Data Analyst', 'Digital Data Analyst',
       'Business Intelligence Analyst Junior', 'Data analyst H/F',
       'Data Analyst (m/f/d)', 'Analytics Consultant', 'Data Analyst F/H',
       'Consultor BI', 'Statistical Data Analyst',
       'Digital Data Analyst (H/F)',
       'Data Analyst - €60,- per hour - Amsterdam based',
       'Data & Analytics Senior Analyst',
       'JUNIOR DATA ANALYST – Aerospace', 'Data Analyst - Operations',
       'Data Analyst (H/F)', 'BUSINESS INTELLIGENCE ANALYST',
       'Business Intelligence Analyst (m/w/d)',
       'Analista superior de datos', 'Junior Data Analyst',
       'Web Data Analyst F/H', 'BUSINESS ANALYST_Power BI',
       'Junior Data Analyst Power BI - CONTRATO 6 MESES',
       'Data Analyst - Milano', 'Data Analyst (Engineer)',
       'Data Analyst H/F _ CDD', 'Data Analyst - Analyste de données',
       'Analista de datos',
       'BI Analyst, Power BI Champion, CEE based in Warsaw',
       'Data Analyst Tableau', 'Data-analist', 'SQL/Data Analyst (m/w/d)',
       'Analityk danych', 'Data analist', 'Data Analyst Reporting',
       'Junior Data Analyst Sustainability', 'Data Analyst (h/f) - CDI',
       'CDI - Data Analyst H/F - Yves Rocher', 'Senior Data Analyst',
       'Data Analyst - H/F', 'Retail Business Analyst',
       'Global Onsite Data Analyst (m/w/d)', 'BI Analyst (m/w/d)',
       'BI-Analyst (m/w/d)', 'Data Analyst - Confirmé.e',
       'Data Analyst (m/w/d)', 'Data analyst', 'Data Analyst  H/F',
       'Data Analyst-(H/F)', 'Data & Analytics Analyst - BARI, ROMA',
       'Junior Data Analyst/Associate (m/f/d)',
       'Consulente Applicativo BI', 'Business Intelligence Consultant',
       'Data Analysis and Reporting Team Lead',
       'Junior Data Analyst / Business Intelligence Expert (GN)',
       'Business Data Analyst-(H/F)',
       'BI Analyst - Tableau or other BI Tools',
       'Commercial Data Analyst Travel', 'Junior/Mid Data Analyst',
       'Data Science Analyst', 'Junior Data Analist',
       'Data Analyst - Hybrid - Permanent', 'Data Analyst - Finance',
       'Data Analyst / Decision Scientist, Marketing',
       '(Junior) Consumer Business Intelligence Analyst (m/w/d)',
       'Principal Data Analyst - Growth', 'Insight Analyst (m/f/x)',
       'Data Analyst Costing', 'Business Data Analyst (m/w/d)',
       'Information Analyst', 'Data Analist CBR',
       'POWER BI / DATA ANALYST (M/W/D)', 'Junior Master Data Analyst',
       'Data Analyst - Transportation', 'Data Analyst Power BI F/H',
       'ANALYSTE DES DONNEES (H/F)',
       'Consultant Power BI – Data Analyst (F/H)', 'Data Analist',
       'Conversion Master Data Analyst to Procter & Gamble',
       'Consultant (m/w/d) - Business Intelligence',
       'Monitoring & Data Analyst (Solar PV)',
       'Data Analyst / Data Scientist (m/f/d)',
       'Data Analyst – Web & App (m/w/d)', 'Data Governance Analyst',
       'Business Intelligence Consultant/Lead', 'Sales Data Analyst',
       'Salesforce Data Analyst (f/m/d)', 'Consultant BI Lyon - H/F',
       'Sales & Business Analyst',
       'Corporate Product Master Specialist/Data Analyst',
       'CONSULTANT BI / MSBI  F/H', 'Data Analyst (Slovakia) IRC183410',
       'BI Analyst (m/w/d) Marketing', 'Data Analyst Power BI (m/w/d)',
       'Data analyst | Deals (M&A) | CDI | H/F',
       'Data Analyst (Assortment)',
       'Wavemaker I Data Analyst with Python', 'Data Analyst Telco',
       'Junior Insight Analyst', 'Data Analyst H/F H/F',
       'Online Data Analyst', 'Data Analyst (m/w/d) im Controlling',
       'BI Consultant', 'Data Analyst (Mobile)', 'Data Analyst (m/f/x)',
       'Data Analyst - Scores & Etudes',
       'Data Analyst, Metrics & Reporting',
       'Alternance - Data Analyst - Data ETL & Visualisation (h/f/d)',
       'Customer Data Platform Analyst', 'CDI - Data Analyst F/H',
       'Analytics Consultant – McKinsey Digital',
       'Senior Data Analyst (f/m/d) - onsite or remote / home office',
       'Analytics Consultant, Power BI', 'Senior Datenanalyst (m/w/d)',
       'CRM Data Analyst (m/w/d)', 'Data Analyst Assessor',
       'Medior Data analyst', 'Data Analyst M/F',
       'Analista de datos dept de elaborados (Guissona)',
       'Data Analyst - Alternance - Boursorama-(H/F)',
       'Junior Data Scientist/Analyst (m/w/d)',
       'Operations Data Analyst (They/She/He)',
       'Senior Business Intelligence Consultant', 'Data Scientist',
       'Data Analyst Marketing Stratégique - Boursorama-(H/F)',
       'Business Intelligence Consultant (m/w/d) Power BI oder Qlik',
       'Dataanalytiker',
       'Packaging Specification Technologist and Data Analyst',
       'Junior / Medior Web Data Analyst', 'Senior BI Consultant',
       'Data Governance analyst', 'Quality Data Analyst (m|w|d)',
       'Digital Data Analist (32-38 uur)', 'Data scientist / analytiker',
       'DATA ANALYST PILOTAGE OPERATIONNEL H/F', 'Insights Analyst',
       'Junior Insights Analyst (w/m/d)', 'Data Scientist - Data Analyst',
       'BI-consulent', 'Inhouse BI Consultant / BI Spezialist (m/w/d)',
       '(ESG) Data Analyst (w/m/d)',
       'Data Analyst - Marketing & Communications Insight',
       'Informatie Analist', 'Data Analyst:in',
       '(Senior) Consultant Transaction Analytics (f/m/d)',
       'Job | Data Analyst E&E&P | Brussel',
       'Clinical Data Insights Analyst (Medior/Senior)',
       'Business Intelligence Consultant (M/W/D)', 'Data Analyst (M/W/D)',
       'Data Analyst Return Solutions', 'Reliability Data Analyst',
       'Data Analyst (Bangkok Based, Relocation Provided)',
       'Analyste de données pièces de rechange automobile',
       'Consultant AI & Data Analytics / Data Science (m/w/d)',
       'Biostatistiker (m/w/d)', 'Datový analytik/vývojář',
       'Sozialwissenschaftler*in als Data Analyst (w/m/d)',
       'Customer Insights Analyst (Bangkok Based, Relocation Provided)',
       'Consultant AI & Data Analytics / Data Science (m/w/d) in Berlin',
       'Analityk danych internetowych (wszystko.pl)',
       'Danish Language Data Analyst - Barcelona', 'Datový analytik',
       'Data Analist - startersfunctie (Dutch speaking)',
       'Privacy Data Analyst - Fluent German',
       'Data Analyst / Decision Scientist, Growth',
       'Senior Data Analyst (Bangkok Based, Relocation Provided)',
       'Informatieanalist Cloud-applicaties',
       'Danish Language Data Analyst in Barcelona',
       'Data Analyst (w/m/d) - Kurse',
       'Data Analyst in the area of IIoT / KI / Predictive Maintenance (m/f/d)',
       'Data Analyst (Marketing & Comms)', 'Data Analyst (m/f)',
       'Financial / Data Analyst', 'Data Analyst Export',
       'Junior project manager - Categoria Protetta',
       'Junior Business Analyst', 'Softwareentwickler (m/w/d)',
       'Data analyst débutant(e)',
       'Data Analyst im Bereich IIoT / KI / Predictive Maintenan ...',
       'Data Engineer/ Data Analyst', 'DATA ANALYST',
       'Data Analyst - Marketing - E-commerce',
       'Data Analyst (Product Data Analyst)',
       'Data Analyst - BSEU Raw Materials Planning', 'data analyst',
       'DATA ANALYST - H/F',
       'Statistical Analyst (Bangkok Based, Relocation Provided)',
       'Medewerker verkoop binnendienst', 'BÜROKRAFT (M/W/D) IN GARCHING',
       'Mitarbeiter Marketing (m/w/d)',
       'Ingenieur Softwareentwicklung (m/w/d)',
       'Projektmanager / Projektleiter Automotive (m/w/d)',
       'ESG Analyst - Real Estate (m/w/d)',
       'APM Software Development & Operations', 'Accountant',
       'Mitarbeiter Marketing B2B (m/w/d)',
       'Chargé de projets Sustainability F/H en apprentissage',
       'Test Engineer', 'Systemutvecklare', 'IT-Spezialist (m/w/d)',
       'Projektleitung Seiltechnik', 'Säljare till Skaraborgsområdet',
       'Medewerker Cursuscoördinatie', 'Chef de Projet Réhabilitation',
       'Chargé de Projets Écologue H/F (56)', 'BI Developer',
       'Commercial Analyst', 'Reporting Specialist', 'Product Manager',
       'IT Support Analyst, Global IT', 'Junior Sales Analyst',
       'Data Business Analyst (m/f)', 'Infrastructure Analyst',
       'Marketing Analyst (Data Analytics and BI)',
       'BI Analyst (Pricing)', 'Data Visualization',
       'Chemical development process  Lab analyst', 'DATA ANALYST IT',
       'Business Intelligence Developer',
       'Data Analyst, SQL/SSIS {Finance', 'Policy Analyst',
       'Composiet medewerker', 'Performance Engineer',
       'Web Analyst F/H en CDI', 'Sales Specialist',
       '(Junior) Data Scientist', 'Process Analyst', 'Business Analyst',
       'Data Scientist, Marketing Analytics', 'Data Analyst - Poland',
       'Consultant.e BI', 'Business Intelligence Developer EEMEA',
       'IT Business Analyst (Data)', '(Junior) Business Analyst (f/m/d)',
       'Business Intelligence-Architekt:in', 'System Developer GIS',
       'Analista de Software', 'Responsable Data Visualisation MS BI',
       'Consultor/a Selección Ingeniería', 'Assistant, HR Data Analytics',
       'IT Business Analyst for Human Resources',
       'Business Data Analyst Lead\xa0H/F', 'Market Intelligence Analyst',
       'Data Engineer', 'Business Analyst Junior',
       'Digital Analytics & Engagement Expert',
       'SENIOR BUSINESS REPORTING SPECIALIST', 'Business & Data Analyst',
       'Data Analyst (h/f)', 'BI Specialist',
       'Business Analyst (f/m/diverse) - Hybrid',
       'Center Operations Specialist', 'Business Analyst IT',
       'IT CRM & Marketing Solutions Specialist',
       'Junior Tech Business Analyst', 'Data Technology Analyst',
       'Chef de Projet Data F/H', 'NRS13700 Grade V, Data Analyst',
       'IT Data Analyst', 'DATA SCIENTIST - MARKETING',
       'Data Analyst - Flanders Digital',
       '(Junior) Application Specialist eCommerce (m/f/d)',
       'Data Scientist (all genders)', 'Data & Analytics Consultant',
       'Business intelligence expert', 'Junior Business Analyst (m/w/d)',
       'Data Analytics Engineer', 'Business Analyst DATA (H/F)',
       'Data Business Analyst', 'Analista Ecommerce, Web y App',
       'Demand & Inventory Data Scientist', 'Data Visualization Expert',
       'Supply Planner F/H', 'Data Program Manager',
       'INGENIERO/A analista de datos Big Data', 'Data Steward',
       'Data Engineer (m/f/n)',
       'Business Analytics and Intelligence Analyst', 'Process Engineer',
       'Data Science & Analytics Specialist (f/m/x)', 'Data Manager',
       'Data Engineer, Business Intelligence', 'Junior CRM Analyst',
       'Consultoría | Data & Analytics Hub Málaga',
       'Data platform Product Owner', 'Analyst Developer',
       'Digital Marketing Specialist',
       'Analyst - Marketing Effectiveness', 'Social Media Data Analyst',
       'Product Control Analyst', 'Data Analyst - Edtech',
       'Finance - IT Functional Analyst', 'Data Scientist - Paris',
       'Ingénieur Senior BI F/H', 'Data Management Specialist',
       'Data Specialist', 'Business Analyst - Supply Chain',
       'Data Analyst (Legal Services)', 'Business Analyst Middle',
       'BUSINESS DATA ANALYSTE Senior H/F', 'DBA SQL',
       'DATA ANALYST_FROSINONE (FR)', 'Data Consultant',
       'Consultant - Data Visualization Specialist',
       'Analyst (m/f/d) Business Intelligence & Analytics',
       'Gestor/a Aprovisionamiento - Valladolid',
       'Data and Analytics - IT Product Owner', 'Demand Planner',
       'Logistics Development Analyst', 'Data Analyst SAS - H/F',
       'Finance Data Analyst', 'Senior Digital Analyst (*all genders)',
       'Business Intelligence Engineer',
       'Business Analyst Specialist for Data Warehouse',
       'Data Analyst / Mathematiker / Statistiker (m/w/d)',
       'Market Research Analyst (Remote - within Europe)',
       'BUSINESS ANALYST', 'Senior Data Scientist', 'Analyst',
       'Junior Finance Analyst', 'SAP Finance Analyst',
       'HR Digital Transformation',
       'Data Analyst - Digital Marketing (all genders)',
       '(Junior) Project Analyst (m/f/d)', 'Supply Chain Analyst',
       'B2B Analyst, Bulgaria', 'IT Solution Analyst (m/f/n)',
       'Business Analyst (m/w/d)', 'Data Architect',
       'Business Specialist', 'Business Analyst (Junior Data Analyst)',
       'Business Intelligence Associate', 'Salesforce Analyst',
       'Data Analyst- 6 Month',
       'Informático/a programador/a analista de datos',
       'Business Analyst BI', 'Cognos and Power BI Reporting Developer',
       'Business Analyst - Pricing', 'Montblanc - Business Analyst H/Ft',
       'Online Data Analyst (m,f,d)', 'Junior STEM Analyst',
       'Científico Inteligencia Artificial', 'Software Engineer',
       'Jr. Data Scientist',
       '📢 [Full Remote] BI Engineer - Startup Data Marketing - H/F',
       'Business Insights Analyst (NJE)',
       'Senior Reporting and Data Specialist',
       'Information Technology Support Specialist',
       'Business Analyst (Sales) (m/w/d)',
       '(Junior) Business Analyst (w/m/d)',
       'Business Analytics Specialist', 'Business Analyst (F/H)',
       'Data Engineer (SQL, BI)',
       'Client Data Analyst (Client Intelligence Specialist - Fully remote) )',
       'Digital Data Analyst Pharma (m/f/d)',
       'Trading and Business Support Analyst',
       'Associate Database Analyst---Clinical Database Management',
       'Senior Product Analyst', 'AFC Data Analyst',
       'Consultant Data & BI – H/F', 'Data Entry',
       'Business Analyst (f/m)', 'Junior Analyst | H/F',
       'Client Intelligence Specialist', 'team Business Analyst',
       'Ecommerce Web Analyst', 'Applications Support Analyst (f/m/d)',
       'Information Technology Engineer', 'Data Analyst/ETL Developer',
       'Head of Analytics', 'Digital Data Analytics',
       '360 Data Product Owner', 'Online Data Analyst - France',
       'DevOps Engineer', 'Analyste Data -(H/F)',
       'Business Intelligence Specialist (w/m/d)',
       'Junior Data Analytics Consultant', 'Technical Data Analyst',
       'Junior Software Developer Engineer', 'Senior BI Data Engineer',
       'Pricing Analyst', 'Demand Planning Analyst',
       'Supply Chain Data Analyst',
       'V.I.E Performance Management  Analyst',
       'Analytics Consultant - Marketing Effectiveness',
       'Business Analyst (English Speaking)',
       'Business Analyst - Young Graduate - Academy Program',
       'Senior Data Engineer (f/m/x)', 'Data Scientist H/F_CDI',
       'Data Engineer (m/f/d)', 'Business Analyst H/F',
       '[ALT] Data analyst Assistant - H/F', 'Data Scientist (f/m/d)',
       'Banking Operations Specialist',
       'Finance Data Analyst (m/w/d) - Gigafactory Berlin',
       'Master Data Quality Analyst', 'Stage - Data Analyst H/F',
       'Data Analyst - Client Insight', 'Traineeship data analyst',
       'Data Analyst für Customer Analytics (m/w/d)',
       'Client Insights Data Analyst - SQL, Python, Data bricks',
       'Data analyst en alternance (94) DCF/AB - F/H',
       'Data Analyst, Product Intelligence #SWX',
       'Customer Data Analyst (m/w/d) Motorsport',
       'Data Analyst Delivery Operations', 'Stage | Data Analyst',
       'Data Analyst im Bereich IIoT / KI / Predictive Maintenance (m/w/d)',
       'Semiconductor Data Analyst', 'Analista funzionale',
       'Programmatore / Analista funzionale',
       'Technical Analyst for Databricks (all genders)',
       'Lead Tech et DATA VIZ (H/F)',
       'Senior Expert Innovation Analytics Performance',
       'SQL Database Administrator',
       'Analista Dati di Geodesia - CATEGORIA PROTETTA',
       'Business Analyst Pricing', 'Data Analyste',
       'BI & data reporting Expert',
       'Data Analyst - Global Marketing H/F',
       'Data Engineer-Imprescindible experiencia en PowerCenter',
       'Junior Marketing Analyst (Munich)', 'Data Scientist (Credit)',
       'Senior BI Developer (SQL Server) – (Remote)',
       'BECARIO/A DATA ANALYST CLIENTE', 'Functional Analyst',
       'Technical Business Analyst',
       'Chargé de projet validation stérilisation',
       'Junior Data Processing Specialist', 'Front-end Developer',
       'Data analyst en alternance (H/F) - Boulogne-Billancourt',
       'ALTERNANCE - Assistance Data Analyst et Reporting RH F/H',
       'Data Analyst (Fraud)*', 'ANALISTA DE PROYECTO DIGITALIZACIÓN',
       'Data Analyst - Customer Management Domain',
       'Data Analyst - Pilotage transformation Cloud-(H/F)',
       'Business Intelligence-Analyst:in', 'Analyst*in (m/w/d)',
       'Business Analyst Consultant', 'Business Process Analyst',
       'IT Strategy and Reporting Analyst (m/f)',
       'Data Analyst (m/f/d) - Global Sea Logistics Systems',
       'IT Research Analyst', 'Product Data Analyst with English',
       'Data Scientist & Analyst expérimenté',
       'Data Analyst H/F - Alternance 12 ou 24 mois',
       'Associate Data Manager', 'Data Scientist (H/F)',
       'Credit - Data Analyst (Product)', 'DATA ENGINEER REFERENT',
       'Planning & Control Analyst', 'Business Analyst - IT',
       'Associate Data Scientist', 'BI/Reports Developer',
       'Digital Analyst', 'Associate - Data Research',
       'Business Analyst & Planning', 'Junior Business Analyst - Triodos',
       'Mid Data Engineer', 'Global HRIS Specialist',
       '(Junior) Systems Business Analyst (f/m/d)',
       'Operational Analyst (Hybrid)', 'Data Engineer Industry 4.0',
       'Associate - McKinsey Digital',
       'Data Analyst - Global Marketing Agency',
       'Data Analyst and Business Development Specialist',
       'Digital Back office specialist - TEMPO DETERMINATO',
       'Junior Project Manager', '(Junior) Project Coordinator',
       'IT Analityk', 'DBA', 'Analyst (Strategy, Policy and Innovation)',
       'Junior Data Scientist', 'Developer',
       'Senior Financial Analyst (M/F)', 'Junior Developer',
       'Chef.fe de Projet Data et BI F/H', 'BUSINESS ANALYST (h/f/x) CDI',
       'Business Analyst - Manufacturing & Supply Chain',
       'Supply Officer & Data Analyst - Systems & Equipment (d/f/m)',
       'Junior Business Analyst - back office team',
       'Business Intelligence Specialist',
       'Global Manager Data Analytics',
       'Data Science and Analytics Engineer M/F', 'Research Analyst',
       'Operations Analyst - H/F',
       'Junior SQL Server Database Administrator',
       'Inventory Analytics Manager',
       'Data Analyst Professional Programme', 'DATA ENGINEER F/H',
       'Sviluppatore front-end', 'Data Reporting Engineer',
       'Référent Applicatif Business Intelligence F/H',
       'Analyst - FRENCH speaking -', 'Aftersales Reporting Specialist',
       'Data Scientist/Data Engineer, Matching', 'Data Engineer Big Data',
       'ANALISTA (H/M) FINANCIERO / FP&A REPORTING',
       'Business Data Analyst Evolutions (2300046Z)',
       'CDI - Chef de Projet Data/Analytique F/H',
       'Analyst - Application Development Analytics',
       'Analista Funzionale IT (Junior)', 'Tender Office Specialist',
       'Business Analyst Internship', 'Salesforce Business Analyst',
       'Data Analyst - Lisboa e Porto - Campo Grande',
       'Market Analyst- European Power Market', 'FP&A Analyst',
       'Solution Owner, Enterprise Solutions, IKEA Industry AB',
       'QE Manager', 'Internet Data Evaluator | Work-from-home',
       'Analityk', 'Data Engineer H/F', 'Junior Analyst - Data Process',
       'Freelance contracting project // Data Product Owner (m/f/d) - Remote',
       'Developer (m/f/n)', 'Data Scientist Transport & Logistics',

Для дальнейшего анализа нам не подходят вакансии, в которых встречается слово "senior", а также в которых идёт речь о программистах (например, front-end), о руководителях или о позициях, не связанных с ИТ (продавец, закупщик и т.д.). Мы оставим аналитиков данных (в том числе аналитиков BI, системных и процессных аналитиков) и дата сайнтистов.

Наш DS относительно небольшой, поэтому мы смогли его просмотреть. Если бы он был большим (от 5000 позиций), мы бы искали вакансии по ключевым словам "anal", "scien", "BI", "inteligence", "data".

In [8]:
#список слов, по которым будут отобраны ненужные вакансии
vac_to_del = ['enior', 'ENIOR', 'Junior project manager - Categoria Protetta', 'Medewerker verkoop binnendienst',\
              'BÜROKRAFT (M/W/D) IN GARCHING', 'Mitarbeiter Marketing (m/w/d)', 'Projektmanager / Projektleiter Automotive (m/w/d)',\
              'Accountant', 'Mitarbeiter Marketing B2B (m/w/d)', 'Chargé de projets Sustainability F/H en apprentissage',\
              'Test Engineer', 'Projektleitung Seiltechnik', 'Säljare till Skaraborgsområdet', 'Medewerker Cursuscoördinatie',\
              'Chef de Projet Réhabilitation', 'Chargé de Projets Écologue H/F (56)', 'Product Manager', 'Composiet medewerker',\
              'Sales Specialist', 'Chef de Projet Data F/H', 'Gestor/a Aprovisionamiento - Valladolid', 'Data Entry',\
              'Head of Analytics', '360 Data Product Owner', 'DevOps Engineer', 'Lead Tech et DATA VIZ (H/F)',\
              'Chargé de projet validation stérilisation', 'Front-end Developer', 'Global HRIS Specialist', 'Junior Project Manager',\
              '(Junior) Project Coordinator', 'Chef.fe de Projet Data et BI F/H', 'Sviluppatore front-end',\
              'Aftersales Reporting Specialist', 'Tender Office Specialist', 'Solution Owner', 'QE Manager', 'JUNIOR PROJECT MANAGER']

In [9]:
#создаём функцию для определения ненужных вакансий
def del_v(row):
    for i in vac_to_del:
        if row['title'].find(i) >= 0: return 'на удаление'

In [10]:
#создаём столбец, чтобы пометить лишние вакансии
df['vac_del'] =  df.apply(del_v, axis=1)

In [11]:
#проверяем, что получилось
df.query('vac_del == "на удаление"')

,title,location,country,employment_type,company_name,employee_qty,company_field,skills,job_description,applicants,vac_del
70,Data & Analytics Senior Analyst,Greater Palma de Mallorca Metropolitan Area,Greater Palma de Mallorca Metropolitan Area,Hybrid,Hotelbeds,"1,001-5,000 employees","Leisure, Travel & Tourism","<span class=""visually-hidden""><!-- -->Skills: ...",Hotelbeds is the ...,28.0,на удаление
123,Senior Data Analyst,Greater Barcelona Metropolitan Area,Greater Barcelona Metropolitan Area,Hybrid,MANGO,"10,001+ employees",Retail Apparel and Fashion,"<span class=""visually-hidden""><!-- -->Skills: ...",Buscamos un/a Dat...,197.0,на удаление
128,Senior Data Analyst,Brussels,Belgium,Hybrid,g2 Recruitment,201-500 employees,Staffing and Recruiting,"<span class=""visually-hidden""><!-- -->Skills: ...",Exciting client b...,84.0,на удаление
218,Senior Data Analyst,Greater Paris Metropolitan Region,Greater Paris Metropolitan Region,Hybrid,InVivo Digital Factory,51-200 employees,IT Services and IT Consulting,"<span class=""visually-hidden""><!-- -->Skills: ...",InVivo Digital Fa...,138.0,на удаление
250,Senior Data Analyst (f/m/d) - onsite or remote...,Germany,Germany,Remote,1&1 Mail & Media Applications SE - GMX | WEB.D...,"501-1,000 employees","Technology, Information and Internet",None,Your tasks: Da...,175.0,на удаление
...,...,...,...,...,...,...,...,...,...,...,...
935,Tender Office Specialist,Genoa,Italy,Hybrid,Esaote,"1,001-5,000 employees",Medical Equipment Manufacturing,"<span class=""visually-hidden""><!-- -->Skills: ...","Esaote, azienda l...",75.0,на удаление
942,"Solution Owner, Enterprise Solutions, IKEA Ind...",Malmö,Sweden,On-site,IKEA,"10,001+ employees",Retail,None,"IKEA Industry, pa...",13.0,на удаление
943,QE Manager,Warsaw,Poland,Hybrid,Paramount,"10,001+ employees",Entertainment Providers,"<span class=""visually-hidden""><!-- -->Skills: ...",Paramount is a ...,20.0,на удаление
962,JUNIOR PROJECT MANAGER,Recanati,Italy,On-site,Blupura,51-200 employees,Food and Beverage Services,"<span class=""visually-hidden""><!-- -->Skills: ...","Blupura, a Cullig...",130.0,на удаление
972,Consultant Senior Microsoft BI - Power BI Expe...,Koerich,Luxembourg,Hybrid,Ainos,11-50 employees,IT Services and IT Consulting,"<span class=""visually-hidden""><!-- -->Skills: ...",Vous souhaitez tr...,28.0,на удаление

In [12]:
#исключаем лишние строки
df = df.query('vac_del != "на удаление"')
#удаляем столбец vac_del
df = df.drop (columns='vac_del', axis= 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 936 entries, 0 to 997
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            936 non-null    object
 1   location         936 non-null    object
 2   country          936 non-null    object
 3   employment_type  936 non-null    object
 4   company_name     936 non-null    object
 5   employee_qty     936 non-null    object
 6   company_field    936 non-null    object
 7   skills           936 non-null    object
 8   job_description  936 non-null    object
 9   applicants       936 non-null    object
dtypes: object(10)
memory usage: 80.4+ KB

In [13]:
#смотрим города
sorted(df['location'])

["'s-Hertogenbosch",
 'Aalborg',
 'Ahlen',
 'Aix-en-Provence',
 'Alsónémedi',
 'Amersfoort',
 'Amersfoort',
 'Amersfoort',
 'Amersfoort',
 'Amstelveen',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam',
 'Amsterdam Area',
 'Amsterdam Area',
 'Ancona',
 'Arcole',
 'Arconate',
 'Arluno',
 'Arluno',
 'Arnhem',
 'Arrasate / Mondragón',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens',
 'Athens Metropolitan Area',
 'Athens Metropolitan Area',
 'Augusta',
 'Baierbrunn',
 'Barcelona',
 'Barcelona',
 'Barcelona',
 'Barcelona',
 'Barcelona',
 'Barcelona',
 'Barcelona',
 'Barcelona',
 'Bari',
 'Basel',
 'Basingstoke',
 'Bath',
 'Bath',
 'Belas',
 'Belfast',
 'Bellinzago Lombardo',
 'Bergamo',
 'Bergen op Zoom',
 'Bergisch Gladbach',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin',
 'Berlin Metropolitan Area',
 'Berlin Metropolitan Area',
 'Bertrange',
 'Bilbao-Bilbo',
 'Binasco',
 'Birkirkara',
 'Blackpool',
 'Boadilla del Monte',
 'Bodelshausen',
 'Bois-Colombes',
 'Bollate',
 'Bologna',
 'Bologna',
 'Bonn',
 'Bordeaux',
 'Boulogne-Billancourt',
 'Boulogne-Billancourt',
 'Boulogne-Billancourt',
 'Boulogne-Billancourt',
 'Boulogne-Billancourt',
 'Bracknell',
 'Bracknell',
 'Braine-l’Alleud',
 'Bremen',
 'Brindisi',
 'Bristol',
 'Bristol',
 'Bristol',
 'Brunswick',
 'Brussels',
 'Brussels',
 'Brussels',
 'Brussels',
 'Brussels',
 'Brussels',
 'Brussels',
 'Brussels',
 'Brussels',
 'Brussels',
 'Brussels',
 'Brussels',
 'Brussels',
 'Brussels',
 'Brussels',
 'Brussels',
 'Brussels',
 'Brussels Metropolitan Area',
 'Brussels Metropolitan Area',
 'Brussels Metropolitan Area',
 'Brussels Metropolitan Area',
 'Brussels Region',
 'Brussels Region',
 'Brussels Region',
 'Bucharest',
 'Bucharest',
 'Bucharest',
 'Bucharest',
 'Bucharest',
 'Buckinghamshire',
 'Budapest',
 'Budapest',
 'Budapest',
 'Budapest',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bègles',
 'Cagliari',
 'Cagliari',
 'Calvignasco',
 'Cambridge',
 'Cambridge',
 'Cambridge',
 'Campodarsego',
 'Canegrate',
 'Carpi',
 'Carpiano',
 "Cassano d'Adda",
 "Cassina de' Pecchi",
 'Cerdanyola del Vallès',
 'Cernusco sul Naviglio',
 'Cesate',
 'Chappes',
 'Chaucer',
 'Chester',
 'Chevigny-Saint-Sauveur',
 'Clichy',
 'Coburg',
 'Coimbra',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne',
 'Cologne Bonn Region',
 'Colturano',
 'Copenhagen',
 'Copenhagen',
 'Copenhagen Metropolitan Area',
 'Cork',
 'Cornaredo',
 'Corsico',
 'County Cork',
 'County Dublin',
 'Courbevoie',
 'Courbevoie',
 'Courbevoie',
 'Coventry',
 'Coventry',
 'Coventry',
 'Cracow',
 'Cracow',
 'Cracow',
 'Cracow',
 'Cracow',
 'Cracow',
 'Cracow',
 'Cracow',
 'Cracow',
 'Cracow',
 'Cracow',
 'Craven Arms',
 'Croix',
 'Croix',
 'Crolles',
 'Cusago',
 'Cusano Milanino',
 'Danderyd',
 'Debrecen',
 'Debrecen',
 'Denmark',
 'Derby',
 'Dijon',
 'Dobříš',
 'Doncaster',
 'Douai',
 'Drammen',
 'Dresano',
 'Dresden',
 'Dresden',
 'Dublin',
 'Dublin',
 'Dublin',
 'Dublin',
 'Dublin',
 'Dublin',
 'Dublin',
 'Dublin City',
 'Dublin City',
 'Durham',
 'Düsseldorf',
 'Düsseldorf',
 'Edinburgh',
 'Egham',
 'Eindhoven',
 'Eindhoven',
 'Eindhoven Area',
 'Elliniko-Argyroupoli',
 'Elmshorn',
 'Elsbethen',
 'Emmen',
 'Epsom',
 'Esch-Sur-Alzette',
 'Esch-Sur-Alzette',
 'Espoo',
 'Essen',
 'Essen',
 'Faenza',
 'Faenza',
 'Farum',
 'Finland',
 'Flemish Region',
 'Florence',
 'Fontenay-sous-Bois',
 'France',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt',
 'Frankfurt am Main',
 'Frankfurt am Main',
 'Frankfurt am Main',
 'Frosinone',
 'Fuschl am See',
 'Galway',
 'Garwolin',
 'Gattinara',
 'Gaydon',
 'Gdańsk',
 'Gdańsk',
 'Gdańsk',
 'Gdynia',
 'Gennevilliers',
 'Genoa',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Gessate',
 'Getafe',
 'Ghent',
 'Ghent',
 'Gießen',
 'Gillingham',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 'Gloucestershire',
 "Granarolo dell'Emilia",
 'Greater Banska Bystrica Area',
 'Greater Barcelona Metropolitan Area',
 'Greater Lyon Area',
 'Greater Madrid Metropolitan Area',
 'Greater Milan Metropolitan Area',
 'Greater Milan Metropolitan Area',
 'Greater Milan Metropolitan Area',
 'Greater Milan Metropolitan Area',
 'Greater Milan Metropolitan Area',
 'Greater Munich Metropolitan Area',
 'Greater Munich Metropolitan Area',
 'Greater Munster Area',
 'Greater Nuremberg Metropolitan Area',
 'Greater Oslo Region',
 'Greater Palma de Mallorca Metropolitan Area',
 'Greater Paris Metropolitan Region',
 'Greater Paris Metropolitan Region',
 'Greater Paris Metropolitan Region',
 'Greater Pau Area',
 'Greater Verona Metropolitan Area',
 'Grenzach-Wyhlen',
 'Groningen',
 'Grünheide',
 'Guissona',
 'Guissona',
 'Guyancourt',
 'Hamburg',
 'Hamburg',
 'Hamburg',
 'Hamburg',
 'Hamburg',
 'Hamburg',
 'Hamburg',
 'Hamburg',
 'Hamburg',
 'Hamburg',
 'Harlestone',
 'Hasselt',
 'Hasselt',
 'Hatfield',
 'Hawthorn',
 'Heerlen',
 'Heidelberg',
 'Helsingborg',
 'Helsinki',
 'Helsinki',
 'Hereford',
 'Hertfordshire',
 'Hoofddorp',
 'Hook of Holland',
 'Hungary',
 'Höchberg',
 'Hückelhoven',
 'Iasi Metropolitan Area',
 'Imola',
 'Inzago',
 'Ireland',
 'Iráklion',
 'Issy-les-Moulineaux',
 'Issy-les-Moulineaux',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Jena',
 'Jonkoping County',
 'Kaiserslautern',
 'Karlstad',
 'Kontich',
 'Kosice',
 'Kosice',
 'Košice',
 'Krakow Metropolitan Area',
 'La Défense',
 'La Défense',
 'Lacchiarella',
 'Laudio / Llodio',
 'Leeds',
 'Leeds',
 'Leeds',
 'Leiden',
 'Leinfelden-Echterdingen',
 'Leipzig',
 'Levallois-Perret',
 'Liguria',
 'Lille',
 'Lille',
 'Lille',
 'Lille',
 'Lille',
 'Limburg',
 'Lindau',
 'Lisboa',
 'Lisboa',
 'Lisboa',
 'Lisbon',
 'Lisbon',
 'Lisbon',
 'Lisbon',
 'Lisbon',
 'Lisbon',
 'Lisbon Metropolitan Area',
 'Lisbon Metropolitan Area',
 'Lithuania',
 'Liège',
 'Lombardy',
 'Lombardy',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'London',
 'Lucerne',
 'Lucerne',
 'Lugano',
 'Luleå',
 'Lund',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Lyon',
 'Lyon',
 'Lyon',
 'Lyon',
 'Lyon',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Mainz',
 'Manchester',
 'Manchester',
 'Manchester Area',
 'Mannheim',
 'Mannheim',
 'Marcallo con Casone',
 'Marlow',
 'Massy',
 'Matera',
 'Mechelen',
 'Meudon',
 'Middlesbrough',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milan',
 'Milton Keynes',
 'Milton Keynes',
 'Monaco',
 'Montévrain',
 'Monza',
 'Moravia-Silesia',
 'Munich',
 'Munich',
 'Munich',
 'Munich',
 'Munich',
 'Munich',
 'Munich',
 'Munich',
 'Munich',
 'Munich',
 'Mönchengladbach',
 'Mülheim an der Ruhr',
 'Münster',
 'Nanterre',
 'Nanterre',
 'Nanterre',
 'Nanterre',
 'Nantes',
 'Nantes',
 'Nantes',
 'Naples',
 'Naples',
 'Neckarsulm',
 'Netherlands',
 'Neuilly-sur-Seine',
 'Neuilly-sur-Seine',
 'Neuilly-sur-Seine',
 'Neuilly-sur-Seine',
 'Neuss',
 'Neuss',
 'Newcastle upon Tyne',
 'Nice',
 'Nitra Region',
 'North Holland',
 'Nova Milanese',
 'Novate Milanese',
 'Nuneaton',
 'Nuremberg',
 'Nuremberg',
 'Oeiras',
 'Olèrdola',
 'Orosháza',
 'Oslo',
 'Oslo',
 'Osnabrück',
 'Ostellato',
 'Ottignies-Louvain-la-Neuve',
 'Ottignies-Louvain-la-Neuve',
 'Oudenaarde',
 'Oudenaarde',
 'Oxford',
 'Padua',
 'Palaiseau',
 'Palaión Fáliron',
 'Palermo',
 'Palma',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Paris',
 'Parma',
 'Parma',
 'Paterna',
 'Pieve Emanuele',
 'Pioltello',
 'Piraeus',
 'Pistoia',
 'Plaisir',
 'Poissy',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Pordenone',
 'Pordenone',
 'Porto',
 'Porto',
 'Porto',
 'Porto',
 'Porto',
 'Portugal',
 'Portugal',
 'Portugal',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague',
 'Prague Metropolitan Area',
 'Puteaux',
 'Raamsdonksveer',
 'Rethymno',
 'Riga',
 'Riga',
 'Riga',
 'Riga',
 'Rijswijk',
 'Rome',
 'Rome',
 'Rome',
 'Rome',
 'Rome',
 'Rome',
 'Rome',
 'Rome',
 'Rome',
 'Ronda',
 'Ronneby',
 'Rosate',
 'Rotterdam',
 'Rotterdam',
 'Rotterdam',
 'Rotterdam',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Rotterdam and The Hague',
 'Roubaix',
 'Roubaix',
 'Roubaix',
 'Rouen',
 'Rozzano',
 'Rozzano',
 'Salzburg',
 'Salzburg',
 'San Colombano al Lambro',
 'San Donato Milanese',
 'San Zenone al Lambro',
 'San Ġiljan',
 'Sant Cugat del Vallès',
 'Sant Just Desvern',
 "Sant'Elpidio a Mare",
 'Savona',
 'Schiphol',
 'Schwäbisch Gmünd',
 'Sedriano',
 'Senago',
 'Sesto San Giovanni',
 'Sesto San Giovanni',
 'Sintra',
 'Sliema',
 'Sligo',
 'Sofia',
 'Sofia',
 'Sofia',
 'Sofia',
 'Sofia',
 'Sofia',
 'Sofia',
 'Sofia',
 'Sofia',
 'Solihull',
 'Solna',
 'South Molton',
 'South Molton',
 'Southampton',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Sparta',
 'Spinea',
 'Spinea',
 'St.-Denis',
 'St.-Ouen',
 'Stockholm',
 'Stockholm',
 'Stockholm',
 'Stockholm',
 'Stockholm',
 'Stockholm',
 'Stockholm County',
 'Stuttgart',
 'Stuttgart Region',
 'Sundbyberg',
 'Sunderland',
 'Sundsvall',
 'Suresnes',
 'Szczecin',
 'Székesfehérvár',
 'Taibon',
 'Tallinn',
 'Tartu',
 'Telde',
 'Terranuova Bracciolini',
 'Tessenderlo',
 'The Hague',
 'The Hague',
 'The Hague',
 'The Randstad',
 'Thessaloniki',
 'Timişoara',
 'Timişoara',
 'Torremolinos',
 'Toulouse',
 'Toulouse',
 'Toulouse',
 'Treviso',
 'Trezzano Rosa',
 "Trezzo sull'Adda",
 'Truccazzano',
 'Turin',
 'Turin',
 'Turin',
 'Turin',
 'Umeå',
 'Utrecht',
 'Utrecht',
 'Utrecht',
 'Utrecht',
 'Utrecht',
 'Utrecht',
 'Utrecht',
 'Valencia',
 'Valencia',
 'Valletta',
 'Vanzaghello',
 'Vanzago',
 "Vaprio d'Adda",
 "Vaprio d'Adda",
 'Venlo',
 'Vermezzo',
 'Vienna',
 'Vienna',
 'Vienna',
 'Vila Nova de Cerveira',
 'Vila do Conde',
 'Viladecans',
 'Villeneuve-d’Ascq',
 'Villes',
 'Vilnius',
 'Vilnius',
 'Vilnius',
 'Vilnius',
 'Vilvoorde',
 'Vitoria-Gasteiz',
 'Vitry-sur-Seine',
 'Vittuone',
 'Vittuone',
 'Waddinxveen',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw',
 'Warsaw Metropolitan Area',
 'Warsaw Metropolitan Area',
 'Wasserburg (Bodensee)',
 'Weinheim',
 'West Flanders',
 'West Malling',
 'West Midlands',
 'West Midlands',
 'West Midlands',
 'Wiesbaden',
 'Wolfsburg',
 'Worksop',
 'Wroclaw Metropolitan Area',
 'Wroclaw Metropolitan Area',
 'Wrocław',
 'Zagreb',
 'Zagreb',
 'Zagreb',
 'Zaventem',
 'Zeist',
 'Ziano di Fiemme',
 'Zoetermeer',
 'Zwaagdijk-Oost',
 'Zwevezele',
 'Åre',
 'Île-de-France',
 'Île-de-France',
 'Île-de-France',
 'Łódź',
 'Łódź']

В списке городов встречаются названия регионов, а также названия стран. Восстановить данные не представляется возможным, но это не является критичным, потому что названия городов не нужны нам для построения дашборда.

In [14]:
#смотрим страны
df['country'].unique()

array([' Switzerland', ' United Kingdom', ' France', ' Netherlands',
       ' Ireland', ' Poland', ' Hungary', ' Greece', 'Italy', ' Sweden',
       ' Lithuania', ' Belgium', ' Italy', ' Luxembourg', ' Germany',
       'Brussels Metropolitan Area', 'Portugal',
       'Greater Paris Metropolitan Region', 'France', 'Bulgaria',
       ' Spain', 'Hungary', ' Czechia', 'Warsaw Metropolitan Area',
       'Wroclaw Metropolitan Area', 'Poland', ' Portugal', ' Latvia',
       ' Estonia', ' Malta', ' Austria', 'Iasi Metropolitan Area',
       'Cologne Bonn Region', 'Greater Munster Area',
       'Greater Banska Bystrica Area',
       'Greater Nuremberg Metropolitan Area', ' Norway',
       'Berlin Metropolitan Area', ' Denmark', ' Finland', ' Romania',
       'Greater Barcelona Metropolitan Area', 'Germany',
       'Rotterdam and The Hague', 'Prague Metropolitan Area', 'Denmark',
       ' Bulgaria', 'Greater Pau Area', ' Monaco',
       'Lisbon Metropolitan Area', 'Athens Metropolitan Area',
       'Greater Lyon Area', 'Greater Milan Metropolitan Area', ' Croatia',
       'Stuttgart Region', ' Slovakia', 'Spain', 'Amsterdam Area',
       'Finland', 'Greater Oslo Region', 'Netherlands', 'Eindhoven Area',
       'Greater Munich Metropolitan Area',
       'Greater Madrid Metropolitan Area', 'Lithuania', 'Ireland',
       'Krakow Metropolitan Area',
       'Greater Palma de Mallorca Metropolitan Area',
       'Greater Verona Metropolitan Area', 'Copenhagen Metropolitan Area'],
      dtype=object)

В начале некоторых названий присутствуют лишние пробелы, а также вместо стран указаны города и регионы. Проведём замены.

In [15]:
#удаляем пробелы
df['country'] = df['country'].str.strip()

In [16]:
#готовим список, что на что будем менять
wrong_c = ['Brussels Metropolitan Area', 'Greater Paris Metropolitan Region', 'Warsaw Metropolitan Area', 'Wroclaw Metropolitan Area',\
          'Iasi Metropolitan Area', 'Cologne Bonn Region', 'Greater Munster Area','Greater Banska Bystrica Area',\
          'Greater Nuremberg Metropolitan Area', 'Berlin Metropolitan Area', 'Greater Barcelona Metropolitan Area',\
          'Rotterdam and The Hague', 'Prague Metropolitan Area', 'Greater Pau Area', 'Lisbon Metropolitan Area',\
          'Athens Metropolitan Area', 'Greater Lyon Area', 'Greater Milan Metropolitan Area', 'Stuttgart Region',\
          'Amsterdam Area', 'Greater Oslo Region', 'Eindhoven Area','Greater Munich Metropolitan Area',\
          'Greater Madrid Metropolitan Area', 'Krakow Metropolitan Area', 'Greater Palma de Mallorca Metropolitan Area',\
          'Greater Verona Metropolitan Area', 'Copenhagen Metropolitan Area']
right_c = ['Belgium', 'France', 'Poland', 'Poland', 'Romania', 'Germany', 'Germany','Slovakia',\
          'Germany', 'Germany', 'Spain', 'Netherlands', 'Czechia', 'France', 'Portugal',\
          'Greece', 'France', 'Italy', 'Germany', 'Netherlands', 'Norway', 'Netherlands', 'Germany',\
          'Spain', 'Poland', 'Spain', 'Italy', 'Denmark']

In [17]:
#делаем замены
df['country'] = df['country'].replace(wrong_c, right_c)

In [18]:
#смотрим типы трудоустройства
df['employment_type'].value_counts()

Hybrid           454
On-site          320
Remote            97
not specified     65
Name: employment_type, dtype: int64

Примерно в 7% вакансий отсутствует информация по поводу типа занятости. Можно попробовать восстановить эту информацию из описания вакансии, но успех этого мероприятия не гарантирован. Так как пропусков не очень много, оставим значения "not specified".

In [19]:
#смотрим названия компаний
df['company_name'].unique()

array(['PharmiWeb.Jobs: Global Life Science Jobs', 'Resolute Recruitment',
       'Mole Valley Farmers', 'FORFIRM', 'Butler, Bridge & May',
       'Maria Mallaband Care Group Ltd', 'Kelly Group', 'eXalt',
       'Blue Arrow', 'Mexa Solutions', 'Royal Schiphol Group',
       'networx | Recruitment Software & Services by IRIS',
       'Black Fox Solutions', 'tombola', 'Fives', 'Babcock',
       'Oscar Technology', "Burton's Biscuit Company", 'Getinge',
       'Neos-SDI', 'GLS', 'ARI', 'Axon Moore', 'LAMDA Development S.A.',
       'Nexi Digital', 'Storytel', 'funda', 'Havas Group Lithuania',
       'The Digital Dance Academy', 'Samsonite',
       'Randstad Technologies Italia', 'Truecaller', 'BCEE',
       'Credit Agricole Consumer Finance', 'LOOPING GROUP', 'Withub',
       'DS Smith', 'SPIN 360', 'Nexeo', 'Devoteam', 'Trooli',
       'Echo Analytics', 'Hubble_s', 'Ebiquity plc', 'Alteca',
       'GEDI Gruppo Editoriale', 'Royal Holloway, University of London',
       'Cheil Italia Srl', 'KRUK España, S.L.U.', 'Konozca Consulting',
       'Sport it', 'Peroptyx', 'Expleo Group', 'Groupe La Centrale',
       'Stanley Black & Decker, Inc.', 'Getaround',
       'First Place Listings', 'Computer Futures', 'PAM PANORAMA S.P.A.',
       'Diot-Siaci', 'Experis Italia', 'bloomon', 'EyeTech Solutions',
       'MoOngy', 'QiBit Italy', 'Volkswagen Group Services GmbH',
       'Omnicom Media Group', 'Incora', 'PRIMATON', 'FLYR Labs',
       'Datatorii', 'Avon', 'Belgie Vacature Groep', '24S',
       'MAG Interactive', 'Adecco', 'Omnicom Media Group Spain',
       'LogiRAIL', 'CPM Italy', 'Revolut', 'Osculati', 'Aon', 'Verisk',
       'Behaviour – UK North', 'HOLA CONSULTORES SL',
       'Proton | Privacy by Default', 'Kenvue', 'TMC', 'Westwing',
       'Itron, Inc.', 'Stenn Technologies',
       'E&C Consultants - International Energy Procurement Consultancy',
       'ABN AMRO Bank N.V.', 'alanta health group GmbH', 'Billennium',
       'Ministerie van Defensie', 'Bloom & Wild', 'LIMAGRAIN', 'CGI',
       'Immoweb', 'Ubiquiti Inc.', 'Airbus', 'Pipedrive',
       'DecideOm - Expert Data', 'SDG Group España', 'epicery',
       'Yves Rocher', 'Jenrick Technology', 'Lincoln France', 'Avvale',
       'Kaizen Gaming', 'Lapp Group', 'ManpowerGroup Solutions',
       'Hoffmann Group', 'Storck', 'inITium HR', 'LittleBigCode',
       'TANNER AG', 'LSEG (London Stock Exchange Group)', 'RH Partners',
       'Artemys Agil-IT (groupe Artemys)', 'Exellys',
       'Banque Populaire Rives de Paris', 'Nigel Frank International',
       'MI-GSO | PCUBED', 'Societe Generale', 'Accenture Italia',
       'AstraZeneca', 'Reed - Technology', 'Applus+ Laboratories',
       'NTT DATA Italia', 'smeup', 'Wort & Bild Verlag',
       'CDM Tecnoconsulting', 'Lamb Weston EMEA', 'POTENTIAM LTD',
       'LPP S.A.', 'Segugio.it', 'Marc Cain', 'Magnificent Revolution',
       'Ausy Belgium', 'Inetum', 'SumUp',
       'Societe Generale Corporate and Investment Banking - SGCIB',
       'TransPerfect', 'Antella Travel Recruitment', 'Lydia',
       'Albert Cliff', 'Metyis', 'BrightStone Group',
       'PB Recruitment Consultants Ltd', 'ÁlamoConsulting', 'Vinted',
       'Neckermann', 'CRISIL Poland', 'New London HR', 'Tipico',
       'Visser & Van Baars', 'FCM Travel Solutions Vietnam',
       'GOAL Global', 'CBR', 'RIMOWA', 'Stryker', 'Recrewtment', 'Tele2',
       'Lion Studios', 'Doghouse Recruitment', 'Commissariat des armées',
       'RemoteWorker UK', 'Novencia Group', 'Comfort Energy Group',
       'MultiMind Bemanning AB', 'P3', 'ecocareers', 'A. Lange & Söhne',
       'OBI next', 'venITure', 'Eucon Group', 'bol.com',
       'Charisma-Tec GmbH', 'Bynder', 'SalesTube', 'Web Transition',
       'Action', 'GXO Logistics, Inc.', 'Crisp Recruitment Ltd',
       'Awin Global', 'Movado Group Deutschland G.m.b.H.', 'Mapei',
       'ACS Recruitment Solutions', 'Experteam',
       'Progressive Recruitment', 'GlobalLogic', 'DocMorris Deutschland',
       'Paessler AG', 'Inmeta', 'PwC France', 'AUTODOC',
       'Wavemaker Poland', 'AGS S.\u200bp.\u200bA.\u200b', 'NielsenIQ',
       'TELUS International', 'Hapag-Lloyd AG',
       'Positive Thinking Company', 'Hostelworld Group',
       'Evolution Germany', 'Creatis', 'First Recruitment Group',
       'PwC Polska', 'Vitesco Technologies', 'Bouygues Telecom', 'Vertiv',
       'Eneco', 'Mediametrie', 'McKinsey & Company', 'Enfo',
       'Wonen Limburg', 'ropa carrier solutions', 'Inhouse AB',
       'Autoriteit Financiële Markten', 'Kaufland Deutschland',
       'Benchmark International', 'WE Fashion', 'Versende Ltd',
       'StarApple', 'Corporación Alimentaria Guissona S.A.', 'MyParcel',
       'Boursorama', 'trans-o-flex', 'Glovo', 'Cartière', 'OutSystems',
       'Flexer', 'AKQUINET', 'OBOS', 'Premier Foods', 'Streamz',
       'Miltenyi Biotec', 'Save the Children Nederland', 'i-Jobs',
       'Vegfinans', 'Gan Assurances', 'Ipsos Nederland', 'EY', 'HillFive',
       'IT-Personalberatung Dr. Dienst & Wenzel GmbH & Co. KG',
       'iTrust Partnering', 'Lupus alpha Asset Management AG',
       'Michael Page', 'Quintor', 'Deutsche Bahn', 'Belfius', 'Pinnacle',
       'Agoda', 'Valeo', 'Deloitte', 'Roche', 'Direct technologies',
       'MSR Consulting Group GmbH', 'Comarch',
       'TELUS International AI Data Solutions',
       'Kooth Digital Health (United Kingdom)', 'ZF Group', 'Whooz',
       'Majorel Polska', 'Werving op Maat', 'Page Personnel',
       'TotallyMoney', 'Wölfel Group', 'Amadeus FiRe',
       'The Chartered Institute for Securities & Investment (The CISI)',
       'WallexLab', 'Neotalent', 'Securus Recruitment', 'Walters People',
       'ZEIT Verlagsgruppe', 'WeHunt', 'La Poste Groupe',
       'Consulcesi Group', 'KAPP NILES', 'TotalEnergies', 'Proprec',
       'BillEase', 'Brunel', "Talent's Angels",
       'Duval Associates Ltd - Recruitment Specialist - UK',
       'Bridgestone EMIA', 'Santander Bank Polska', 'Dalkia',
       'HUBER+SUHNER BKtel GmbH', 'Empira Group', 'Perform IT',
       'NovaCast Systems', 'Teppich-Kibek', 'PrimeIT',
       'Scuderia AlphaTauri F1 Team', 'BaltCap', 'Danelec', 'La Sportiva',
       'Spuerkeess', 'INTERPOL', 'Samsung Electronics', 'Makro España',
       'Celfocus', 'Dellent', 'Eurofins PSS Insourcing Solutions',
       'Potenzia Consultores', 'Maschio Gaspardo Group', 'Pictarine',
       'DHL Freight', 'Ernest Gordon Recruitment', 'OECD - OCDE',
       'Picard Surgelés', 'Alpha Bank', 'Red Bull',
       'Sonatrach Raffineria Italiana', 'Odoo', 'Dun & Bradstreet',
       'Qim info', 'PUMA Group', 'FrieslandCampina', 'Siemens', 'Wolford',
       'Sunna Group', 'Deusto SEIDOR', 'Coface', 'TRIGO', 'NATO', 'Accor',
       'OW Ocean Winds', 'Prada Group', 'BancoBPM', 'BURGER KING® FRANCE',
       'Growens', 'OPAP', 'Bandai Namco Europe', 'GRDF', 'stichd',
       'Eurowings Digital', 'USO', 'Anywr', 'KPN', 'Scaleworks',
       'Rimi Baltic Group', 'Gruppo MOL', 'Biedronka',
       'Health Service Executive', 'ReversingLabs',
       'Hippocrates Holding S.p.A.', 'Iper La grande i', 'Siemens Energy',
       'GMS - Global Message Services', 'Cegeka', 'Nintendo of Europe',
       'Porsche Consulting', 'Joris Ide', 'Siemens Healthineers',
       'AccorInvest', 'GWI', 'Apside', 'BNP Paribas Fortis',
       'BINTER CANARIAS', 'Versace', 'BrandDelta',
       'InfoCert - Tinexta Group', 'Laboratoires URGO',
       'Decathlon Nederland', 'LVMH', 'IKERLAN',
       'Humanitas Research Hospital', 'CHANEL', 'Enovos Luxembourg',
       'Fenix Group International, LLC', 'Wienerberger Italia',
       'BMW Group', 'BonelliErede', 'Tobii Dynavox',
       'MSC Mediterranean Shipping Company', 'GetYourGuide',
       'Generali Italia', 'Nestlé Nespresso SA', 'MESA', 'GroupM',
       'PwC España', 'KAYAK', 'Randstad Switzerland', 'Sapio Group',
       'MRM Spain', 'Lity', 'Champion Europe Group', 'Artefact', 'allnex',
       'Modelity Technologies', 'Arlo Technologies, Inc.',
       'Gyllström Kommunikationsbyrå AB', 'Trilations', 'Gauss & Neumann',
       'Sync Lab S.r.l.', 'Tempi Moderni - Agenzia per il lavoro',
       'Canon EMEA', 'Erste Digital', 'EXSOLVÆ', 'Miele  X', 'Venchi',
       'Havaianas EAA - an Alpargatas Brand', 'Seyos',
       'Guardian Industries', 'Kantar XTEL',
       'Altair Travel Agency S.A. - Tripair GmbH', 'Euroclear', 'THRYVE',
       'Spectos GmbH', 'SlashData', 'Gruppo PAM', 'Nordnet Bank AB',
       'Clariant', 'Cision',
       'Centre for Research on Energy and Clean Air (CREA)',
       'Schweppes International Limited', "TOD'S Group",
       'Native Instruments', 'El Cactus', 'Albéa Group', 'Crypto.com',
       'FOREO', 'Snaitech', 'United Bulgarian Bank', 'KMD', 'dentsu',
       'EDP Renewables', "Autostrade per l'Italia", 'Monarch IT',
       'WESTHOUSE ITALIA SRL', 'Bobcat EMEA', 'Montblanc',
       'Crédit Agricole Italia', 'Sanitas', 'Esaote', 'Daikin Europe',
       'BAO', 'NetJets Europe', 'Oslo International School',
       'Mercedes-Benz Consulting GmbH', 'Concentrix', 'duagon',
       'Novartis', 'Hays', 'Charles River Laboratories', 'Saxo Bank',
       'Pfizer', 'Dott', 'ACT Commodities Group', 'abrdn', 'Dataworks',
       'T-Systems Iberia', 'Picnic Technologies', 'Elavon Europe',
       'team.it', 'Reebok Europe', 'DentalPro', 'Patagonia',
       'Piraeus Port Authority-PPA/OLP-COSCO Shipping', '3E',
       'ibet.com - Claymore Group', 'Experis', 'Banca Sella',
       'Wien Energie GmbH', 'SDG Group Italy',
       'Jet2.com and Jet2holidays', 'GTD', 'Vattenfall',
       'Perrigo Company plc', 'NI (National Instruments)',
       'ArcelorMittal', 'KIKO MILANO', 'Wiley Edge', "'ESCENT",
       'DocuWare', 'Sogeti', 'Initiative', 'Delicious Data GmbH',
       'Banca AideXa', 'Tesla', 'Coca-Cola HBC', 'QUANT AI Lab', 'HSBC',
       'Santander', 'SUEZ',
       'Devonshire Hayes Recruitment Specialists Ltd',
       'In Technology Group', 'The Stepstone Group',
       'Jobs via eFinancialCareers', 'TalentSpa',
       'Babcock International Group', 'not specified', 'Groupe Casino',
       'Stellantis', 'Svenska Postkodlotteriet', 'Jaguar Land Rover',
       'Magia Srl', 'Zanichelli editore S.p.A', 'Louwman Group',
       'LTIMindtree', 'e-GEOS', 'Capgemini Engineering', 'MSC Cruises',
       'illicado', 'AXA', 'Mandatum', 'Septodont', 'Aqualia',
       'Gruppo Sigla', 'PIMCO', 'MANGO', 'Intesa Sanpaolo', 'Hoverture',
       'Leroy Merlin', 'iTech Media', 'Orbis', 'Cegedim Santé',
       'Happening', 'Digital Turbine', 'CASER', 'Teya', 'Merkle Italia',
       'H.B. Fuller', 'Stieglbrauerei zu Salzburg GmbH',
       'Deutsche Bundesbank', 'Kuehne+Nagel', 'Humanitas University',
       'HCLTech', 'Eulidia', 'BNP Paribas', 'Premier Research',
       'Renault Group', 'ATR', 'Grupo Piñero', 'Warner Bros. Discovery',
       'efood', 'Diebold Nixdorf', 'ITT Inc.', 'NTT DATA Europe & Latam',
       'Clarity AI', 'Bunge', 'AWWG', 'Scotty Technologies',
       'Trusted Shops', 'Cpl', 'Antolin',
       'Kamenitza AD (Molson Coors Beverage Company)', 'DCS Recruitment',
       'Xylem', 'Volkswagen Financial Services | Italy', 'Sapiens',
       'Western Union', 'Malta Financial Services Authority',
       'Alfa Group', 'De Nora', 'AlmavivA S.p.A.', 'Smart Belgium',
       'CGnal', 'JAKALA', 'Abbott', 'STMicroelectronics',
       'Alvarez & Marsal', 'JCDecaux', 'DXC Technology', 'FARFETCH',
       'Cadent Gas Limited', 'Cefla', 'VALOREM', 'Enel Group',
       'LC Packaging', 'Safran', 'Beelix',
       'Grupo IskayPet (Tiendanimal, Kiwoko, Kivet, Clinicanimal)',
       'AXA Investment Managers', 'Lacoste', 'HARMAN International',
       'BCC Pay SpA', 'Sanofi', 'MA (Montreal Associates)', 'EGOR',
       'Enerjisa Commodities', 'Berkley Group',
       'Culligan Italiana S.p.A.', 'ENGIE Italia',
       'Feyenoord Rotterdam N.V.', 'HELPLINE', 'Sony Europe', 'Akkodis',
       'Creos Luxembourg', 'ITENE', 'Ariston Group', 'PwC Ireland',
       'Planet', 'Tiffany & Co.', 'Allianz Nederland', 'KCS iT',
       'Lidl Italia', 'JLL Technologies',
       'Toyota Material Handling Italia', 'Lyreco Group', 'Dealroom.co',
       'AIMS International Spain', "Tony's Chocolonely", 'HEMA',
       'Empiric', 'Win Systems', 'Radiobotics',
       'DSV - Global Transport and Logistics', 'Goldman Sachs', 'SThree',
       'WALKWAY IMMIGRATION SERVICES LLP', 'Habitissimo', 'Emerton',
       'Apiux Tecnología', 'XCHANGING ITALY S.P.A.', 'Infoport'],
      dtype=object)

Можно было бы попробовать как-то обработать список компаний, но для этого, скорее всего, пришлось бы перебирать весь список вручную. Опять же возникает вопрос, насколько это целесообразно. Обработку этого столбца производите не будем.

Посмотрим размер компании (количество сотрудников).

In [20]:
df['employee_qty'].unique()

array(['11-50 employees', 'not specified', '501-1,000 employees',
       '1,001-5,000 employees', '51-200 employees', '10,001+ employees',
       '1-10 employees', '201-500 employees', '5,001-10,000 employees',
       'Retail Apparel and Fashion',
       'See how you compare to 9 applicants. Try Premium for free',
       'Svein Grande is hiring for this job',
       'See how you compare to 19 applicants. Try Premium for free',
       'See how you compare to 22 applicants. Try Premium for free',
       'See how you compare to 13 applicants. Try Premium for free',
       'See recent hiring trends for Devonshire Hayes Recruitment Specialists Ltd. Try Premium for free',
       'See how you compare to 10 applicants. Try Premium for free',
       'See how you compare to 4 applicants. Try Premium for free'],
      dtype=object)

In [21]:
df.loc[df['employee_qty'] == 'Retail Apparel and Fashion']

,title,location,country,employment_type,company_name,employee_qty,company_field,skills,job_description,applicants
220,Sales & Business Analyst,Hamburg,Germany,Hybrid,Movado Group Deutschland G.m.b.H.,Retail Apparel and Fashion,Retail Apparel and Fashion,"<span class=""visually-hidden""><!-- -->Skills: ...",Movado Group Deut...,92.0

Во время парсинга в столбец с данными о размере компании попали данные о сфере компании, предложение о сравнении себя с другими кандидатами и информация по поводу рекрутёра. Заменим такие значения на not specified.

In [22]:
#создаём список ключевых фраз, по которым будем искать данные для замены
wrong_empl_q = ['Retail Apparel and Fashion', 'See how you compare to 9 applicants. Try Premium for free',\
                'Svein Grande is hiring for this job', 'See how you compare to 19 applicants. Try Premium for free',\
                'See how you compare to 22 applicants. Try Premium for free',\
                'See how you compare to 13 applicants. Try Premium for free',\
                'See recent hiring trends for Devonshire Hayes Recruitment Specialists Ltd. Try Premium for free',\
                'See how you compare to 10 applicants. Try Premium for free',\
                'See how you compare to 4 applicants. Try Premium for free']

In [23]:
#меняем ошибочную информацию на not specified
df['employee_qty'] = df['employee_qty'].replace(wrong_empl_q, 'not specified')

In [24]:
#смотрим сферу деятельности
df['company_field'].unique()

array(['Staffing and Recruiting', 'not specified',
       'IT Services and IT Consulting', 'Airlines and Aviation',
       'Medical Equipment Manufacturing',
       'Information Technology & Services',
       'Transportation, Logistics, Supply Chain and Storage',
       'Real Estate', 'Financial Services', 'Entertainment Providers',
       'Software Development', '51-200 employees',
       'Technology, Information and Internet', 'Manufacturing',
       'Human Resources', 'Banking', 'Advertising Services',
       'Public Relations and Communications Services',
       'Packaging and Containers Manufacturing', '11-50 employees',
       'Telecommunications', 'Newspaper Publishing', 'Higher Education',
       'Internet Marketplace Platforms', 'Retail', 'Insurance',
       'Human Resources Services', 'Motor Vehicle Manufacturing',
       'Personal Care Product Manufacturing', 'Utilities',
       'International Trade and Development', 'Information Services',
       'Computer Games', 'Retail Health and Personal Care Products',
       'Business Consulting and Services', 'Pharmaceutical Manufacturing',
       'Armed Forces', 'Farming',
       'Aviation and Aerospace Component Manufacturing',
       'Appliances, Electrical, and Electronics Manufacturing',
       'Wholesale', 'Book and Periodical Publishing',
       'Food and Beverage Manufacturing',
       'Outsourcing and Offshoring Consulting',
       'Retail Apparel and Fashion', 'Performing Arts',
       'Translation and Localization', 'Travel Arrangements',
       'Gambling Facilities and Casinos', 'Non-profit Organizations',
       'Government Administration', 'Retail Luxury Goods and Jewelry',
       'Defense & Space', 'Oil and Gas', 'Internet Publishing',
       'Chemical Manufacturing',
       'Renewable Energy Semiconductor Manufacturing', 'Market Research',
       '201-500 employees', 'Food and Beverage Services',
       'Truck Transportation', 'Consumer Services',
       'Biotechnology Research',
       'See how you compare to 9 applicants. Try Premium for free',
       'Svein Grande is hiring for this job', 'Professional Services',
       'Investment Management', 'Industrial Machinery Manufacturing',
       'Motor Vehicle Parts Manufacturing', 'Mental Health Care',
       'See how you compare to 19 applicants. Try Premium for free',
       '501-1,000 employees', '1,001-5,000 employees',
       'See how you compare to 22 applicants. Try Premium for free',
       'Environmental Services', 'Spectator Sports',
       'Sporting Goods Manufacturing', 'Law Enforcement',
       'Computers and Electronics Manufacturing', '1-10 employees',
       'Machinery Manufacturing', 'Printing Services',
       'International Affairs', 'Dairy Product Manufacturing',
       'Automation Machinery Manufacturing', 'Hospitality',
       'Wind Electric Power Generation', 'Restaurants',
       'Hospitals and Health Care', 'Computer and Network Security',
       'Retail Groceries', 'Wholesale Building Materials', 'Research',
       'Construction', 'Law Practice', 'Apparel & Fashion',
       'Glass, Ceramics and Concrete Manufacturing', 'Research Services',
       'Food & Beverages', 'Musicians', 'Wellness and Fitness Services',
       'See how you compare to 13 applicants. Try Premium for free',
       'Investment Banking', 'Primary Metal Manufacturing', 'Cosmetics',
       'See recent hiring trends for Devonshire Hayes Recruitment Specialists Ltd. Try Premium for free',
       'See how you compare to 10 applicants. Try Premium for free',
       'Defense and Space Manufacturing',
       'Mechanical Or Industrial Engineering',
       'Philanthropic Fundraising Services',
       'Education Administration Programs', 'Food Production',
       'Automotive', 'Semiconductor Manufacturing',
       'Renewable Energy Power Generation', 'Retail Office Equipment',
       'See how you compare to 4 applicants. Try Premium for free',
       'Individual and Family Services'], dtype=object)

Вероятно, не для всех компаний заполнена сфера деятельности, поэтому во время парсинга в этот столбец выгрузились некорректные данные: размер компании, предложение о сравнение с другими кандидатами, имя рекрутёра. Для таких строк поставим значение-заглушку.

In [25]:
df.loc[(df['company_field'].str.find('employees') > 0) | (df['company_field'].str.find('Try Premium for free') > 0) | (df['company_field'].str.find('Romain GUIHENEUF') > 0)]

,title,location,country,employment_type,company_name,employee_qty,company_field,skills,job_description,applicants
34,Data Analyst,Vilnius,Lithuania,Hybrid,Havas Group Lithuania,51-200 employees,51-200 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",What You Will Do...,98.0
44,Data Analyst,Milan,Italy,Hybrid,SPIN 360,11-50 employees,11-50 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",About the Compan...,196.0
49,Data Analyst,France,France,Remote,Hubble_s,11-50 employees,11-50 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Data Analyst - I...,not specified
58,Consultor BI,Barcelona,Spain,Hybrid,Konozca Consulting,11-50 employees,11-50 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Konozca crece y...,86.0
61,Data Analyst,Hungary,Hungary,Remote,Peroptyx,11-50 employees,11-50 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",For thousands of ...,177.0
137,Data analyst,Bordeaux,France,Hybrid,RH Partners,51-200 employees,51-200 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Notre client est ...,not specified
258,Data Analyst (m/w/d),Düsseldorf,Germany,On-site,Benchmark International,201-500 employees,201-500 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Über uns: Mit...,102.0
282,Data Governance analyst,Vilvoorde,Belgium,On-site,Streamz,201-500 employees,201-500 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Streamz is de Vla...,4.0
285,Data Analyst,Cambridge,United Kingdom,On-site,i-Jobs,not specified,See how you compare to 9 applicants. Try Premi...,None,This job is...,9.0
355,Datový analytik/vývojář,Prague Metropolitan Area,Czechia,Hybrid,Direct technologies,51-200 employees,51-200 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Hledáme data ana...,4.0
401,Data Analist - startersfunctie (Dutch speaking),The Hague,Netherlands,Hybrid,Whooz,11-50 employees,11-50 employees,"<span class=""visually-hidden""><!-- -->Skills: ...","Van leuk werk, k...",19.0
433,Data Analyst,London,United Kingdom,not specified,i-Jobs,not specified,See how you compare to 19 applicants. Try Prem...,None,This job is...,19.0
453,Junior Business Analyst,Lombardy,Italy,On-site,Consulcesi Group,"501-1,000 employees","501-1,000 employees","<span class=""visually-hidden""><!-- -->Skills: ...",Within the SAR D...,97.0
454,Softwareentwickler (m/w/d),Coburg,Germany,Hybrid,KAPP NILES,"1,001-5,000 employees","1,001-5,000 employees","<span class=""visually-hidden""><!-- -->Skills: ...",KAPP NILES ist ei...,19.0
458,Data Analyst,West Midlands,United Kingdom,Hybrid,Proprec,not specified,See how you compare to 22 applicants. Try Prem...,None,This job is...,22.0
477,Ingenieur Softwareentwicklung (m/w/d),Hückelhoven,Germany,Hybrid,HUBER+SUHNER BKtel GmbH,51-200 employees,51-200 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Wir suchen an uns...,22.0
479,ESG Analyst - Real Estate (m/w/d),Luxembourg,Luxembourg,On-site,Empira Group,201-500 employees,201-500 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Empira Investment...,42.0
480,APM Software Development & Operations,Berlin,Germany,Hybrid,Perform IT,51-200 employees,51-200 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Who are Perform ...,68.0
486,Systemutvecklare,Ronneby,Sweden,On-site,NovaCast Systems,11-50 employees,11-50 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Systemutvecklare...,16.0
487,IT-Spezialist (m/w/d),Elmshorn,Germany,Hybrid,Teppich-Kibek,"501-1,000 employees","501-1,000 employees","<span class=""visually-hidden""><!-- -->Skills: ...",Wie wird aus eine...,8.0
497,Reporting Specialist,Tallinn,Estonia,Hybrid,BaltCap,11-50 employees,11-50 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Your main role a...,15.0
499,"IT Support Analyst, Global IT",Farum,Denmark,On-site,Danelec,51-200 employees,51-200 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Do you have a pa...,12.0
508,Chemical development process Lab analyst,Braine-l’Alleud,Belgium,On-site,Eurofins PSS Insourcing Solutions,"1,001-5,000 employees","1,001-5,000 employees","<span class=""visually-hidden""><!-- -->Skills: ...",Company Descrip...,62.0
509,DATA ANALYST IT,Vila Nova de Cerveira,Portugal,On-site,Potenzia Consultores,1-10 employees,1-10 employees,"<span class=""visually-hidden""><!-- -->Skills: ...","O nosso cliente, ...",17.0
533,System Developer GIS,Åre,Sweden,Hybrid,Sunna Group,1-10 employees,1-10 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Vill Du bidra til...,28.0
534,Analista de Software,Bilbao-Bilbo,Spain,Hybrid,Deusto SEIDOR,51-200 employees,51-200 employees,"<span class=""visually-hidden""><!-- -->Skills: ...","GRUPO SEIDOR, Mul...",32.0
584,Data Engineer,Porto,Portugal,Hybrid,BrandDelta,11-50 employees,11-50 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Company Descript...,43.0
624,Data Specialist,Athens Metropolitan Area,Greece,Hybrid,Modelity Technologies,51-200 employees,51-200 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Job summary A...,116.0
630,Data Scientist,Prague,Czechia,Hybrid,Gauss & Neumann,11-50 employees,11-50 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",At Gauss &amp; Ne...,139.0
648,Business Intelligence Engineer,Palaión Fáliron,Greece,On-site,Altair Travel Agency S.A. - Tripair GmbH,51-200 employees,51-200 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Responsibilities:...,11.0
659,Data Scientist,Finland,Finland,Remote,Centre for Research on Energy and Clean Air (C...,1-10 employees,1-10 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",CREA ( Centre for...,182.0
665,Data Engineer,Madrid,Spain,Hybrid,El Cactus,1-10 employees,1-10 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",DATA ENGINEER ...,60.0
682,Data Analyst- 6 Month,Chaucer,United Kingdom,not specified,Monarch IT,not specified,See how you compare to 13 applicants. Try Prem...,None,This job is...,13.0
698,Information Technology Support Specialist,Greater Oslo Region,Norway,On-site,Oslo International School,51-200 employees,51-200 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",IT SUPPORT SPECI...,98.0
730,Information Technology Engineer,Piraeus,Greece,On-site,Piraeus Port Authority-PPA/OLP-COSCO Shipping,"1,001-5,000 employees","1,001-5,000 employees","<span class=""visually-hidden""><!-- -->Skills: ...",Job description ...,77.0
774,Data Analyst - Client Insight,Bracknell,United Kingdom,Hybrid,Devonshire Hayes Recruitment Specialists Ltd,not specified,See recent hiring trends for Devonshire Hayes ...,None,This job is...,2.0
777,Data Analyst,Manchester,United Kingdom,Hybrid,In Technology Group,not specified,See how you compare to 10 applicants. Try Prem...,None,This job is...,10.0
797,Analista funzionale,Pordenone,Italy,On-site,Magia Srl,11-50 employees,11-50 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Magia S.r.l. è ...,30.0
798,Programmatore / Analista funzionale,Turin,Italy,Hybrid,Zanichelli editore S.p.A,201-500 employees,201-500 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Siamo alla ricerc...,87.0
822,Analista funzionale,Pordenone,Italy,On-site,Magia Srl,11-50 employees,11-50 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Magia S.r.l. è ...,30.0
874,Mid Data Engineer,Portugal,Portugal,Remote,Scotty Technologies,11-50 employees,11-50 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Hey! We are Scott...,94.0
903,Data Scientist,Milan,Italy,Hybrid,CGnal,11-50 employees,11-50 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",The role of Data ...,117.0
975,Database Administrator,Porto,Portugal,On-site,AIMS International Spain,11-50 employees,11-50 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Our client -DR. ...,21.0
977,Process Performance Engineer,Amsterdam,Netherlands,Hybrid,Tony's Chocolonely,51-200 employees,51-200 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",At Tony’s Chocolo...,73.0
981,Data Engineer,Copenhagen Metropolitan Area,Denmark,On-site,Radiobotics,11-50 employees,11-50 employees,"<span class=""visually-hidden""><!-- -->Skills: ...",Are you a data ...,44.0
988,Data Analyst Job In Overseas,Naples,Italy,On-site,WALKWAY IMMIGRATION SERVICES LLP,not specified,See how you compare to 4 applicants. Try Premi...,None,This job is...,4.0
997,Analista de datos BI,Valencia,Spain,Hybrid,Infoport,51-200 employees,51-200 employees,None,Funciones · Bu...,198.0

In [26]:
#создаём список ключевых слов, по которым будем искать данные для замены
wrong_comp_f = ['employees', 'Try Premium for free', 'Romain GUIHENEUF']

In [27]:
#функция для определения некорректных позиций
def change_wrong_field(row):
    for i in wrong_comp_f:
        if row['company_field'].find(i) >= 0: return 'not specified'

In [28]:
#создаём новый столбец, чтобы внести в него информацию о некорректных значениях
df['company_field_ns'] =  df.apply(change_wrong_field, axis=1)

In [29]:
#вносим значения в столбец company_field вместо некорректных, удаляем стоблец company_field_ns
df.loc[df['company_field_ns'] == 'not specified', 'company_field'] = 'not specified'
df = df.drop(columns='company_field_ns', axis= 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 936 entries, 0 to 997
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            936 non-null    object
 1   location         936 non-null    object
 2   country          936 non-null    object
 3   employment_type  936 non-null    object
 4   company_name     936 non-null    object
 5   employee_qty     936 non-null    object
 6   company_field    936 non-null    object
 7   skills           936 non-null    object
 8   job_description  936 non-null    object
 9   applicants       936 non-null    object
dtypes: object(10)
memory usage: 80.4+ KB

In [30]:
#делаем описание вакансии строго с маленькой буквы
df['job_description'] = df['job_description'].str.lower()

In [31]:
skills = (['datahub', 'api', 'github', 'google analytics', 'adobe analytics', 'ibm coremetrics', 'omniture', 'gitlab',\
           'erwin', 'hadoop', 'spark', 'hive', 'databricks', 'aws', 'gcp', 'azure','excel', 'redshift', 'bigquery',\
           'snowflake',  'hana', 'grafana', 'kantar', 'spss', 'a/b testing', 'ab testing', 'asana', 'basecamp',\
           'jira', 'dbeaver','trello', 'miro', 'salesforce', 'rapidminer', 'thoughtspot',  'power point',  'docker',\
           'jenkins','integrate.io', 'talend', 'apache nifi','aws glue','pentaho','google data flow',\
           'azure data factory','xplenty','skyvia','iri voracity','xtract.io','dataddo', 'ssis', 'hevo data',\
           'informatica','oracle data integrator','k2view','cdata sync','querysurge', 'rivery', 'dbconvert', 'alooma',\
           'stitch', 'fivetran', 'matillion','streamsets','blendo', 'iri voracity','logstash', 'etleap', 'singer',\
           'apache camel','actian', 'airflow', 'luidgi', 'datastage', 'python', 'vba', 'scala', ' r ', 'java script',\
           'julia', 'sql', 'matlab', 'java', 'html', 'c++', 'sas', 'data studio', 'tableau', 'looker', 'powerbi',\
           'cognos', 'microstrategy', 'spotfire', 'sap business objects','microsoft sql server',\
           'oracle business intelligence', 'yellowfin', 'webfocus','sas visual analytics', 'targit', 'izenda',\
           'sisense', 'statsbot', 'panorama', 'inetsoft', 'birst', 'domo', 'metabase', 'redash', 'power bi', 'alteryx',\
           'dataiku', 'qlik sense', 'qlikview'
          ])

In [32]:
#функция для нахождения ключевого слова в описании вакансии
def set_skill(row):
        if row['job_description'].find(i) >= 0: return 1
        else: return 0

In [33]:
#для каждого ключевого слова создаём отдельный столбец
#если ключевое слово входит в описание вакансии, в столбце появится 1, если нет 0
for i in skills:
    df[i] =  df.apply(set_skill, axis=1)

In [34]:
df.head()

,title,location,country,employment_type,company_name,employee_qty,company_field,skills,job_description,applicants,...,inetsoft,birst,domo,metabase,redash,power bi,alteryx,dataiku,qlik sense,qlikview
0,Data Analyst,Basel,Switzerland,On-site,PharmiWeb.Jobs: Global Life Science Jobs,11-50 employees,Staffing and Recruiting,None,what you will achi...,47.0,...,0,0,0,0,0,0,0,0,0,0
1,Data Analyst - Logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,not specified,not specified,None,,not specified,...,0,0,0,0,0,0,0,0,0,0
2,Data Analyst - Logistics,Coventry,United Kingdom,On-site,Resolute Recruitment,not specified,not specified,None,data analyst - lo...,not specified,...,0,0,0,0,0,0,0,0,0,0
3,Data Analyst (Space & Planning),South Molton,United Kingdom,On-site,Mole Valley Farmers,not specified,not specified,None,salary: to b...,not specified,...,0,0,0,0,0,0,0,0,0,0
4,Data Analyst,Lugano,Switzerland,On-site,FORFIRM,not specified,not specified,None,forfirm is p...,not specified,...,0,0,0,0,0,1,0,0,0,0

In [35]:
#проверяем дубликаты
df.duplicated().sum()

112

In [36]:
#Удаляем дубликаты
df = df.drop_duplicates().reset_index(drop=True)
df.duplicated().sum()

0

In [37]:
#удаляем лишние столбцы, чтобы выгружаемый файл был менее тяжёлым
df = df.drop(columns=['skills', 'job_description'], axis= 1)

In [38]:
#выгружаем данные в Excel
df.to_excel('./linkedin_final.xlsx')

# Заключение

В рамках предобработки данных были заполнены пропуски, удалены лишние вакансии, скорректирована информация о странах, размерах компании, сферах деятельности, созданы отдельные столбцы с информацией о хард скилах, а также удалены дубликаты и лишние столбцы. Данные были подготовлены для построения дашборда и выгружены в Excel.

# Ссылка на дашборд

https://public.tableau.com/app/profile/alexander1348/viz/LinkedIn_16861500137010/Dashboard2#1